body{
    background-color: rgb(39, 36, 36);
    font-family: "zen-antique", sans-serif;
}
.div1 {
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}
.name {
    padding-bottom: 10px;
    font-size: 18px;
}
#typeInput{
    text-align: center;
}
.enterBtn {
    position: absolute;
    top: 50%;
    left:  50%;
    transform: translate(-50% -50%);
}

.enterBtn button{
    display: none;
    font-size: 30px;
    font-weight: 550;
    color: rgb(8, 6, 6);
    padding: 40px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: azure;
    cursor: pointer;
    
}

.gamebox{
    position:absolute;
    top: 35%;
    left: 35%;   

    background: white;
}

.gamebox section{
    padding: 25px 30px 20px 30px;

}
.gamebox section .que_text {
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: 600;
}

.option_list .option{
    background: rgb(20, 207, 231);
    border: 1px solid blue;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
